/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

#form {
  /* background-image: url("assets/images/22px-baseline.png"); */
  background-color: #f7ece3;
  display: block;
  padding: 3vh 3vw 3vh 3vw;
}

/* Webfont: Adallyn-regular */
@font-face {
  font-family: Adallyn;
  src: url("assets/fonts/Adallyn-WFK/Adallyn-regular.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/Adallyn-WFK/Adallyn-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/Adallyn-WFK/Adallyn-regular.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/Adallyn-WFK/Adallyn-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/Adallyn-WFK/Adallyn-regular.svg#Adallyn-regular") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: giaza_pro */
@font-face {
  font-family: Giaza;
  src: url("assets/fonts/Giaza-WFK/giaza_pro-webfont.eot");
  src: url("assets/fonts/Giaza-WFK/giaza_pro-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("assets/fonts/Giaza-WFK/giaza_pro-webfont.woff2") format("woff2"), /* Modern Browsers */
    url("assets/fonts/Giaza-WFK/giaza_pro-webfont.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/Giaza-WFK/giaza_pro-webfont.ttf") format("truetype"), /* Safari, Android, iOS */
    url("assets/fonts/Giaza-WFK/giaza_pro-webfont.svg#giaza_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Goku;
  src: url("assets/fonts/Goku.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Modelica;
  src: url("assets/fonts/BwModelica-Light.otf") format("opentype");
}

h1 {
  /* background-color: yellow; */
  color: #ba0574;
  font-family: Goku, "Times New Roman", serif;
  font-size: 4em; /* 72px / 18px  = 2.25 */
  line-height: 1.5277777em; /* 110px / 72px */
  padding-bottom: 0.25em; /* add one line-heading below */
}

html {
  background-attachment: fixed;
  background-color: #f7ece3;
  background-image: url("assets/images/ret2.png");
  background-blend-mode: normal;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: Adallyn, "Times New Roman", serif;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.222em; /* 22px / 18px = 1.222... */
}

main {
  /* background-color: black; */
  margin: auto;
  padding-top: 4.8888em;
  width: 70vw;
}

small {
  font-size: 0.666667em; /* 12px / 18px = 0.666667 */
  line-height: 1.16667em; /* 14px / 12px = 1.222... */
}

/* Form */
form {
  margin-top: 2em;
}

input,
label {
  display: block;
  box-sizing: border-box;
  font-family: Modelica, Calibri, Arial, sans-serif;
}

input {
  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  font-size: inherit;
  font-family: Adallyn, "Times New Roman", serif;
  line-height: inherit;
  border: 0;
  outline: 0;
  width: 100%;
  margin: auto;
}

input[type="email"] {
  background-color: #9aecd3;
  font-family: Modelica, Calibri, Arial, sans-serif;
}

input[type="email"]:focus {
  background-color: #ffffff;
}

input[type="submit"] {
  background-color: #ffc600;
  cursor: pointer;
  font-family: Modelica, Calibri, Arial, sans-serif;
  padding: 0.77777em 1.22222em 0.67777em 1.22222em;
}

input[type="submit"]:disabled {
  background-color: #38aa87;
  cursor: default;
}

#submit.white-border {
  border-color: #ffffff;
}

@media (min-width: 500px) {
  main {
    width: 60vw;
  }
}

@media (min-width: 700px) {
  #signup ol {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  #email-label {
    grid-column: 1fr;
  }
  #email-input {
    grid-column: 1/3;
  }
  #submit-btn {
    grid-column: 3/4;
  }
  #submit {
    border: 0.5em solid #9aecd3;
  }
}

@media (min-width: 800px) {
  main {
    width: 50vw;
  }
}
